.table {
    border: 3px solid black; 
    display: flex;
    border-radius: 10%;
    width: 1000px;
    height: 500px;
    flex-direction: column; 
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 40px;
    justify-content: space-between;
    background-color: rgb(94, 202, 94);
}

.player {
   height: 150px;
   box-shadow: 10px 10px 70px 10px gray inset;
}

.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}